.banner-section {
	margin-bottom: 10%;
	/* background-position: center;
	background-size: cover; */
}

.banner-section .banner-content {
	padding-top: 38%;
}

.banner-section .banner-content h1 {
	letter-spacing: 0.5px;
	font-weight: 200;
}

@media screen and (min-width: 768px) and (max-width: 991px) {

	.banner-section .banner-content h1 {
		font-size: 60px;
	}

}


@media only screen and (min-width: 992px) {

	.banner-section .banner-content h1 {
		font-size: 80px;
	}

}

@media only screen and (max-width: 375px) {

	.banner-section .banner-content h1 {
		font-size: 30px;
	}
}