.card-container {
	max-width: 430px;
	margin: auto;
	background-color: var(--theme-secondary-bgcolor);
	border-radius: 10px;
	padding: 20px 40px;
}

.card-container .card-icon svg {
	font-size: 30px;
}

.card-container .card-icon {
	margin-bottom: 14px;
}

.card-container .card-title {
	margin-bottom: 15px;
}

.card-container .card-description {
	margin-bottom: 23px;
}

.card-container .border-line {
	border-radius: 7px;
	height: 4px;
	background-color: #3F4349;
}