.contact-section .form-border {
	border: 1px solid #3F4349;
}

.contact-section .contact-form h2 {
	margin-bottom: 20px;
}

.contact-section .contact-form input,
.contact-section .contact-form textarea {
	width: 100%;
	background: transparent;
	border: 1px solid #3F4349;
	border-radius: 0;
	outline: none;
	padding: 3px 3px 3px 24px;
}

.contact-section .contact-form input:hover,
.contact-section .contact-form textarea:hover,
.contact-section .contact-form input:focus,
.contact-section .contact-form textarea:focus {
	border-color: #8A8A8A;
}

.contact-section .contact-form input::placeholder,
.contact-section .contact-form textarea::placeholder {
	color: var(--theme-primary-color);
}

.contact-section .contact-form input {
	height: 50px;
}

.contact-section .contact-form {
	max-width: 556px;
	margin: auto;
	background-color: var(--theme-secondary-bgcolor);
	padding: 20px 25px;
	border-radius: 8px;
	margin-top: 180px;
	margin-bottom: 80px;
}

.contact-section .form-submit {
	background-color: var(--theme-primary-bgcolor);
	color: var(--theme-tertiary-color);
	padding: 14px 50px;
	border-radius: 20px;
	margin: 10px 0 16px 0;
	font-size: 18px;
}

.contact-section .contact-form form {
	text-align: center;
	overflow: hidden;
}

.contact-section .border-line {
	background-color: #3F4349;
	border-radius: 7px;
	height: 4px;
	margin-bottom: 16px;
}

.contact-section .contact-form .email,
.contact-section .contact-form .phone {
	letter-spacing: 4.8px;
}