.footer-section {
	text-align: center;
}

.footer-section img {
	margin: auto;
}

.footer-section p {
	letter-spacing: 4.8px;
	font-size: 12px;
	margin-bottom: 12px;
}

.footer-section p:last-child {
	margin-bottom: 0;
}

.footer-section {
	margin-bottom: 30px;
}