.header {
	padding: 36px 0 47px 0;
	background-color: var(--theme-tertiary-bgcolor);
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .navbar ul li {
	display: inline-block;
}

.header .navbar ul li a {
	padding: 8px 18px;
	text-transform: uppercase;
	display: block;
	transition: 0.4s;
}

.header .navbar ul li a:hover {
	color: #00B45A;
}

.header .navbar ul li.header-button {
	border: 1px solid;
	border-radius: 4px;
}

.header .navbar ul li.header-button a:hover {
	background-color: var(--theme-primary-bgcolor);
	color: var(--theme-tertiary-color);
}

/* Mobile size header starts */

.header .mobile-navigation-menu {
	z-index: 1;
}

.header .mobile-navigation-menu .hamburger-menu .bar1,
.header .mobile-navigation-menu .hamburger-menu .bar2,
.header .mobile-navigation-menu .hamburger-menu .bar3 {
	width: 30px;
	height: 2px;
	background-color: var(--theme-primary-color);
	margin: 5px 0;
	transition: .4s;
}

.header .mobile-navigation-menu .hamburger-menu.open .bar1 {
	transform: rotate(-45deg) translate(-4px, 3px);
}

.header .mobile-navigation-menu .hamburger-menu.open .bar2 {
	display: none;
}

.header .mobile-navigation-menu .hamburger-menu.open .bar3 {
	transform: rotate(45deg) translate(-1px, -2px);
}

.header .mobile-navigation-menu .hamburger-menu {
	position: relative;
	z-index: 1;
}

.header .mobile-navigation-menu .navbar-collapse.close {
	transform: translateX(100%);
}

.header .mobile-navigation-menu .navbar-collapse.open {
	transform: translateX(0);
}

.header .mobile-navigation-menu .navbar-collapse {
	background-color: var(--theme-secondary-bgcolor);
	position: fixed;
	left: 0;
	right: 0;
	top: 15%;
	transition: 0.4s ease-in-out;
}

.header .mobile-navigation-menu .navbar-collapse nav {
	text-align: center;
	padding: 40px 0;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

.header .mobile-navigation-menu .navbar-collapse nav ul li {
	margin-bottom: 6px;
}

@media only screen and (max-width: 1023px) {

	.header {
		padding: 10px 0;
		position: fixed;
		width: 100%;
		z-index: 1;
	}

	.header .mobile-navigation-menu .navbar-collapse {
		top: 11%;
	}
}

@media only screen and (max-width: 375px) {

	.header .mobile-navigation-menu .navbar-collapse {
		top: 9%;
	}

}

/* Mobile size header ends */