.service-section {
	background-position-Y: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.service-section:before {
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #131315bf;
	position: absolute;
}

.service-section .container {
	max-width: 1024px;
	position: relative;
}

.service-section .card-section h1 {
	text-align: center;
	padding-top: 31px;
	margin-bottom: 39px;
	text-transform: uppercase;
	letter-spacing: 4.8px;
}

.service-section .card-container {
	margin-bottom: 40px;
}