.two-cloumn-section .border-outline .image-column {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
}

.two-cloumn-section .border-outline .image-column:before {
	position: absolute;
	content: "";
	background-color: #1b1b1de8;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.two-cloumn-section .border-outline {
	border: 1px solid #3F4349;
}

.two-cloumn-section .border-outline .grid {
	border-bottom: 1px solid #3F4349;
}

.two-cloumn-section .image-column .image-column-content {
	position: relative;
}

.two-cloumn-section .image-column .image-column-content h2 {
	margin-bottom: 20px;
	letter-spacing: 4.8px;
	line-height: 22.4px;
}

.two-cloumn-section .image-column .image-column-content p {
	line-height: 28.8px;
	font-size: 16px;
}

.two-cloumn-section .border-outline .content-column {
	padding: 37px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 991px) {

	.two-cloumn-section .image-column .image-column-content {
		margin-left: 50px !important;
	}

}

@media only screen and (max-width: 767px) {

	.two-cloumn-section .image-column {
		justify-content: center;
		padding: 60px 0;
		border-bottom: 1px solid #3F4349;
	}

}

@media only screen and (min-width: 768px) {

	.two-cloumn-section .border-outline .left-image {
		border-right: 1px solid #3F4349;
	}

	.two-cloumn-section .border-outline .right-image {
		border-left: 1px solid #3F4349;
	}

	.two-cloumn-section .image-column .image-column-content {
		margin-left: 100px;
	}

	.two-cloumn-section .border-outline .column-container {
		border-bottom: 1px solid #3F4349;
	}

}