@tailwind base;
@tailwind components;
@tailwind utilities;


@import "../styles/component/Header.css";
@import "../styles/component/Footer.css";
@import "../styles/component/Bannersection.css";
@import "../styles/component/Twocolumnsection.css";
@import "../styles/component/Cards.css";
@import "../styles/component/Service.css";
@import "../styles/component/Contact.css";

/* --------------------------- General css starts --------------------------- */

:root {
  --theme-primary-color: #fff;
  --theme-primary-bgcolor: #fff;
  --theme-secondary-color: #1b1c1e;
  --theme-secondary-bgcolor: #1b1c1e;
  --theme-tertiary-color: #141416;
  --theme-tertiary-bgcolor: #141416;
}

html {
  font-size: 100%;
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: var(--theme-tertiary-bgcolor);
  color: var(--theme-primary-color);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 720px;
  }
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 29px;
}

p {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.samp-logo {
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

/* --------------------------- General css ends --------------------------- */